


body { 
    background-image: url('./assets/nightsky.jpeg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #13293d;
    color: #fca311;
    text-shadow: 2px 2px 20px rgba(252, 252, 252, 0.386);
    margin: 0;
}

#Head {
text-align: center;
margin-top: 100px;
margin-bottom: 100px;
background-color: transparent;
padding: 20px 0;
}

#headshot {
    width:20%;
    border: solid 0 black;
    border-radius: 100%; 
    margin-top: 80px;

}

#bio {
    width: 400px;
    margin: 50px auto 0 auto;
    font-size: larger;

}

.navigation {
    display: block;
    text-align: center;
    padding: 50px 0;  
}

/*
.uploads {
    background-color: transparent;
    color: #fca311;
    border: none;
    text-shadow: 2px 2px 20px rgba(252, 252, 252, 0.386);
    padding: 20px 0;
}
*/

.collapsible {
    background-color: transparent;
    color: #fca311;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 30px;
    text-shadow: 2px 2px 20px rgba(255, 255, 255, 0.606);
}



audio::-webkit-media-controls-panel {
    background-color: rgba(78, 112, 125, 0.457);
}

.active, .collapsible:hover {
    background-color: #13293d88;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

